@model WebApplication_Online_Shopping.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .button {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        text-align: center;
        margin-left:182px;
        gap:15px;
        
        
    }
</style>
<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.ProductId) *@
        </dt>
        <dd class = "col-sm-10">
          @*   @Html.DisplayFor(model => model.ProductId) *@
        </dd>
        <dt class="col-sm-2">
           @*  @Html.DisplayNameFor(model => model.ProductPic) *@
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@ViewBag.Image" height="100" width="110" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
           @*    @Html.DisplayNameFor(model => model.CategoryId) *@
         </dt>
        <dd class = "col-sm-10">
            @* @Html.DisplayFor(model => model.CategoryId) *@
        </dd>
       
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CategoryName) *@
        </dt>
        <dd class = "col-sm-10">
           @*  @Html.DisplayFor(model => model.CategoryName) *@
        </dd>
    </dl>
</div>
<div class="button">
    @Html.ActionLink("Add To Cart", "AddCart", new { id = Model.ProductId },new{@class="btn btn-warning"}) 
    @Html.ActionLink("Buy Now", "Buy", new { id = Model.ProductId },new{@class="btn btn-outline-danger"})

    @* <a asp-action="Index">Back to List</a> *@
</div>

